.select-wrapper4 {
        background: url(cm.png) no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        width: 55px;
        height: 55px;
      }

      .image_src {
        width: 100px;
        height: 100px;
        opacity: 0;
        filter: alpha(opacity=0);
      }
	  
